menu "EBLi Configuration"

    config ENABLE_EBLI_FS
        bool "Enable FS"
        default false

    config ENABLE_EBLI_WIFI
        bool "Enable Wifi"
        depends on ENABLE_EBLI_FS
        default false

    config EBLI_WIFI_PROVISION_POP
        string "Wifi provisioning Proof-of-Possession"
        depends on ENABLE_EBLI_WIFI
        default "abcd1234"
        help
            Auto provisioning Proof-of-Possession

    config ENABLE_EBLI_MQTT
        bool "Enable MQTT"
        depends on ENABLE_EBLI_WIFI
        default false

    config EBLI_MQTT_DEFAULT_BROKER
        string "MQTT default/fall-back Broker - if no config manager or config manager has no value"
        depends on ENABLE_EBLI_MQTT
        default "mqtt://iot.eclipse.org"
    config EBLI_MQTT_DEFAULT_DEVICE_TOPIC
        string "MQTT default/fall-back Device-Topic - if no config manager or config manager has no value"
        depends on ENABLE_EBLI_MQTT
        default "ebli-device"
    config EBLI_MQTT_DEFAULT_GROUP_TOPIC
        string "MQTT default/fall-back Group-Topic - if no config manager or config manager has no value"
        depends on ENABLE_EBLI_MQTT
        default "ebli-device-group"

    config ENABLE_EBLI_TIME
        bool "Enable Time (Timezone config and NTP Time sync)"
        depends on ENABLE_EBLI_WIFI
        default false

    config ENABLE_EBLI_OTA
        bool "Enable OTA"
        depends on ENABLE_EBLI_WIFI
        default false

    config ENABLE_EBLI_CONFIG_MANAGER
        bool "Enable Config-Manager"
        depends on ENABLE_EBLI_FS
        default false

endmenu
