################################################################################
# EBLi Stuff

CONFIG_ENABLE_EBLI_FS=y
CONFIG_ENABLE_EBLI_WIFI=y
CONFIG_ENABLE_EBLI_MQTT=y
CONFIG_EBLI_MQTT_DEFAULT_BROKER="black-pearl"
CONFIG_EBLI_MQTT_DEFAULT_DEVICE_TOPIC="ledwall"
CONFIG_EBLI_MQTT_DEFAULT_GROUP_TOPIC="ledwalls"
CONFIG_ENABLE_EBLI_CONFIG_OTA=y
CONFIG_ENABLE_EBLI_CONFIG_MANAGER=y
