################################################################################
# EBLi Stuff

CONFIG_EBLI_FS_ENABLE=y
CONFIG_EBLI_WIFI_ENABLE=y
CONFIG_EBLI_MQTT_ENABLE=y
CONFIG_EBLI_MQTT_DEFAULT_BROKER="black-pearl"
CONFIG_EBLI_MQTT_DEFAULT_DEVICE_TOPIC="ebli-testapp"
CONFIG_EBLI_MQTT_DEFAULT_GROUP_TOPIC="ebli-testapp-group"
CONFIG_EBLI_OTA_ENABLE=y
CONFIG_EBLI_CONFIG_MANAGER_ENABLE=y
